<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!-- For simplicity I will let the logs roll on stdout
    In Modern cloud deployments (which happens in docker/containers) this is a standard practice, so that logs are better
    handled  on the host and consumed by forwarders of something like FluentD/Splunk/Logstash.
    -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.bankbridge" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.eclipse.jetty" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.http" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>